:root {
	--a: #3d85cc;
	--b: #3d85cc7f;
}

* {
	color: #2a2e3a;
}

body {
	font-family: Jost;
	margin: 0;
}

header,
h1,
h3 {
	color: #000;
}

nav {
	background: #e9effb;
}

article,
footer {
	background: #edf3ff;
}

@media (prefers-color-scheme: dark) {
	* {
		color: #bbc0ca;
	}

	body {
		background: #383c4a;
	}

	header,
	h1,
	h3 {
		color: #fff;
	}

	nav {
		background: #2e323e;
	}

	article,
	footer {
		background: #2a2e3a;
	}
}

button {
	background: var(--a);
	color: #fff;
	user-select: none;
}

button,
input {
	border: 1px solid var(--a);
	border-radius: 0.25rem;
	outline: 1px var(--b);
}

button:active,
input:active,
input:not([type=button]):focus {
	outline-style: solid;
}

input {
	color: #2a2e3a;
}

input::placeholder {
	color: var(--b);
}

input[type=button],
a {
	background: none;
	color: var(--a);
	text-decoration: none;
}